html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  
body { 
    display: flex; 
    justify-content: center;
}

.hidden {
    display: none !important;
}

h1 {
  margin-top: 20px;
  margin-bottom: -30px;
  text-align: center;
  font-size: 40px;
}

#game-container {
  display: grid;
  position: relative;
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
  margin-top: 50px;
  margin-bottom: 40px; 
}

#start-btn {
  display: inline-block;
  cursor: pointer;
}

#yellow {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
#yellow:hover {
  background-color: grey;
}

#red {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}
#red:hover {
  background-color: grey;
}

#blue {
  background-color: rgb(0, 0, 255);
  cursor: pointer;
}
#blue:hover {
  background-color: grey;
}

#green {
  background-color: rgb(0, 128, 0);
  cursor: pointer;
}
#green:hover {
  background-color: grey;
}

.active {
  background-color: white !important;
}

footer {
  justify-content: center;
  font-size: 25px;
}
